/* app css stylesheet */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    font-size: 14px;
    font-family: myriad-pro, sans-serif;
    background: rgb(250, 250, 250);
}

.topper {
    position: absolute;

    width: 100%;
    height: 120px;
    margin: auto;

    top: 0;
    left: 0;
    right: 0;

    background: white;
    box-shadow: 0px 0px 3px rgba(40, 40, 40, .6);

    z-index: 100;
}

.topper .profile {
    width: 600px;
    height: 80px;
    padding-top: 10px;
    margin: auto;
}

.topper .profile .photo-frame {
    height: 80px;
    width: 80px;

    position: inline-block;
    float: left;

    border-radius: 40px;
    overflow: hidden;
}

.topper .profile .details {
    float: left;
    padding-left: 20px;
}

.topper .profile .details h2 {
    position: inlien-block;
    margin-top: 18px;
    margin-bottom: 4px;
    
    font-size: 22px;
    font-weight: bold;
}

.topper .profile .details h2 i {
    font-weight: normal;
    font-size: 18px;
}

.topper .profile .details .location {
    padding-left: 8px;

    color: #7A7A7A;
    font-size: 12px;
    font-weight: 300;
}

.topper .controls {
    width: 600px;
    margin: auto;

    text-align: center;
}

.connections {
    position: absolute;

    width: 100%;
    margin: auto;

    top: 120px;
    left: 0;
    right: 0;
    bottom: 0;

    overflow-x: hidden;
    overflow-y: scroll;
}

.connections .connection {
    width: 680px;
    height: 90px;
    margin: 15px auto;

    white-space: nowrap;

    background: white;
    overflow: hidden;

    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
}

.connections .connection:hover {
    background: rgb(253, 253, 253);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.connections .connection .number {
    width: 45px;
    margin-top: 35px;
    margin-left: 15px;

    font-size: 24px;
    font-weight: bold;
    text-align: center;

    float: left;
}

.connections .connection .photo-frame {
    height: 60px;
    width: 60px;
    margin: 15px;

    position: inline-block;
    float: left;

    border-radius: 30px;
    overflow: hidden;
}

.connections .connection .details {
    float: left;
}

.connections .connection:last-of-type {
    margin-bottom: 40px;
}

.connections .connection h2 {
    position: inlien-block;
    margin-top: 18px;
    margin-bottom: 4px;
    
    font-size: 20px;
    font-weight: bold;
}

.connections .connection h2 i {
    font-weight: normal;
    font-size: 14px;
}

.connections .connection .location {
    padding-left: 4px;

    color: #7A7A7A;
    font-size: 12px;
    font-weight: 300;
}
